/* variables css start */
:root{
    --white-900: #ffffff;
    --white-800: #F7F9FA;
    --white-500: #ECF1F4;
    --white-400: #EAEBF5;
    --green-500: #55BC7E;
    --green-900: #2DA25C;
    --dark-900: #636972;
    --dark-500: #5D6A7B;
    --black-900: #050931;
    --black-500: #131848;
    --black-400: #373B61;
    --black-300: #344763;
    --black-200: #AAB4BF;
}
/* variables css end */

/* Global css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;;
    font-size: 16px;
    line-height: 1.5;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
/* Global css end */

/* Button css start */
.btn{
    padding: 17px 30px 17px 30px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--green-500);
    color: var(--white-900);
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.3s ease;
    font-family: inherit;
}
.btn:hover{
    background-color: var(--green-900);
}
.btn-1{
    border-radius: 4px;
}
.btn-3{
    padding: 17px 40px;
}
.btn-4{
    padding: 17px 40px;
    border-radius: 5px;
}
/* Button css end */

/* section title css start */
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title .icon{
    margin-bottom: 20px;
}
.section-title h2{
    color: var(--black-500);
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
/* section title css end */

/* Header section start */
.header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-500);
    z-index: 100;
}
.header .nav-menu{
    display: flex;
}
.header .nav-menu .nav ul li{
    display: inline-block;
    margin-left: 25px;
}
.header .nav-menu .nav ul li a{
    text-transform: capitalize;
    color: var(--dark-900);
}
.header .nav-menu .nav ul li a.active,
.header .nav-menu .nav ul li a:hover{
    color: var(--green-500);
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    background-color: var(--black-200);
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .nav-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--black-300);
    position: relative;
    transition: all 0.3s ease;
}
.header .nav-toggler.open span{
    background-color: transparent;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--black-300);
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.header .nav-toggler span::before{
    transform: translateY(-6px);
}
.header .nav-toggler.open span::before{
    transform: rotate(45deg);
}
.header .nav-toggler span::after{
    transform: translateY(6px);
}
.header .nav-toggler.open span::after{
    transform: rotate(-45deg);
}
.header .nav-menu .header-btn{
    margin-left: 25px;
}
/* Header section end */

/* home section start */
.home-section{
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
.home-section .row{
    height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
}
.home-section .home-text span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--green-500);
}
.home-section .home-text h1{
    color: var(--black-900);
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 50px;
    padding: 0 100px 0 0;
}
.home-section .home-text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.home-section .home-text .sub-form{
    margin-top: 20px;
}
.home-section .home-text .sub-form form input{
    width: 70%;
    padding: 17px 0 17px 10px;
    border: none;
    outline: none;
    font-family: inherit;
}
.home-section .home-text .sub-form form .btn-2{
    margin-left: -4px;
    margin-top: 1px;
}
.home-section .home-img .img-box img{
   width: 492px;
}
/* home section end */

/* services section start */
.services-section{
    padding: 80px 0;
}
.services-section .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 20px;
}
.services-section .service-item .service-item-inner{
    padding: 20px 10px;
}
.services-section .service-item .service-item-inner .service-icon{
    margin-bottom: 20px;
}
.services-section .service-item .service-item-inner .service-text h4{
    color: var(--black-500);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px;
}
.services-section .service-item .service-item-inner .service-text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}
/* services section end */

/* experience section start */
.experience-section{
    padding: 80px 0;
}
.experience-section .experience-img,
.experience-section .experience-text{
    flex: 0 0 50%;
    max-width: 50%;
}
.experience-section .experience-text .text{
    margin-top: 20px;
}
.experience-section .experience-text .text h2{
    color: var(--black-500);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    padding-right: 138px;
}
.experience-section .experience-text .text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.experience-section .experience-text .text a{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-400);
    display: block;
    margin-top: 30px;
    transition: all 0.3s ease;
}
.experience-section .experience-text .text a:hover{
    color: var(--green-500);
}
/* experience section end */

/* newslatter section start */
.newsletter-section{
    padding: 80px 0;
    background-color: var(--black-300);
    text-align: center;
}
.newsletter-section .text{
    flex: 0 0 100%;
    max-width: 100%;
}
.newsletter-section .text h1{
    color: var(--white-900);
    font-size: 30px;
    font-weight: 600;
}
.newsletter-section .text p{
    color: var(--white-400);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.newsletter-section .newslatter-form{
    max-width: 540px;
    width: 100%;
    margin: 25px auto 0;
}
.newsletter-section .newslatter-form form input::placeholder{
    color: var(--dark-500);
}
.newsletter-section .newslatter-form form input{
    width: 70%;
    padding: 18px 0 17px 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--dark-500);
    font-family: inherit;
}
.newsletter-section .newslatter-form form button{
    margin-left: -4px;
    margin-top: 1px;
    border-radius: 0 5px 5px 0;
}
/* newslatter section end */

/* operation section start */
.operation-section{
    padding: 80px 0;
}
.operation-section .operation-img,
.operation-section .operation-text{
    flex: 0 0 50%;
    max-width: 50%;
}
.operation-section .operation-text .text{
    margin-top: 20px;
}
.operation-section .operation-text .text h2{
    color: var(--black-500);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    padding-right: 138px;
}
.operation-section .operation-text .text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.operation-section .operation-text .text a{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-400);
    display: block;
    margin-top: 30px;
    transition: all 0.3s ease;
}
.operation-section .operation-text .text a:hover{
    color: var(--green-500);
}
/* operation section end */

/* our services section start */
.our-services-section{
    background-color: var(--white-800);
    padding: 80px 0;
}
.our-services-section .our-service-item{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px;
    text-align: center;
}
.our-services-section .our-service-item .our-service-item-inner{
    background-color: var(--white-900);
    padding: 30px 20px;
}
.our-services-section .our-service-item .our-service-item-inner .icon{
    margin-bottom: 25px;
}
.our-services-section .our-service-item .our-service-item-inner .text h4{
    font-size: 18px;
    color: var(--black-500);
    font-weight: 500;
    margin-bottom: 10px;
}
.our-services-section .our-service-item .our-service-item-inner .text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}
/* our services section end */

/* experiences section start */
.experiences-section{
    padding: 80px 0;
}
.experiences-section .experiences-img,
.experiences-section .experiences-text{
    flex: 0 0 50%;
    max-width: 50%;
}
.experiences-section .experiences-text .text h2{
    color: var(--black-500);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    padding-right: 138px;
}
.experiences-section .experiences-text .text p{
    color: var(--dark-900);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}
.experiences-section .experiences-text .text .info-box{
    margin-top: 40px;
}
.experiences-section .experiences-text .text .info-box .text{
    margin-left: 20px;
}
.experiences-section .experiences-text .text .info-box .text h4{
    color: var(--black-500);
    font-size: 18px;
    font-weight: 500;
}
.experiences-section .experiences-text .text .info-box .text p{
    margin-top: 5px;
}
.experiences-section .experiences-text .text a{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-400);
    display: block;
    margin-top: 40px;
    transition: all 0.3s ease;
}
.experiences-section .experiences-text .text a:hover{
    color: var(--green-500);
}
/* experiences section end */

/* Interactive section start */
.interactive-section{
    background-color: var(--black-400);
    padding: 80px 0;
    text-align: center;
}
.interactive-section .text{
    flex: 0 0 100%;
    max-width: 100%;
}
.interactive-section .text h1{
    color: var(--white-900);
    font-size: 30px;
    font-weight: 600;
}
.interactive-section .text p{
    color: var(--white-400);
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.interactive-section .interactive-btn{
    margin: auto;
    margin-top: 25px;
}
/* Interactive section end */

/* pricing section start */
.pricing-section{
    padding: 80px 0;
    background-color: var(--white-800);
}
.pricing-section .pricing-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 10px;
}
.pricing-section .pricing-item .pricing-item-inner{
    padding: 20px;
    background-color: var(--white-900);
}
.pricing-section .pricing-item .pricing-item-inner .title{
    margin-bottom: 20px;
}
.pricing-section .pricing-item .pricing-item-inner .title h4{
    font-size: 20px;
    color: var(--green-500);
    font-weight: 500;
}
.pricing-section .pricing-item .pricing-item-inner .price{
    margin-bottom: 20px;
}
.pricing-section .pricing-item .pricing-item-inner .price h1{
    font-size: 45px;
    font-weight: 600;
    color: var(--black-500);
}
.pricing-section .pricing-item .pricing-item-inner .price p{
    color: var(--black-200);
    font-size: 14px;
    font-weight: 300;
}
.pricing-section .pricing-item .pricing-item-inner .price hr{
    border: none;
    outline: none;
    background-color: var(--white-400);
    height: 1px;
    margin-top: 10px;
}
.pricing-section .pricing-item .pricing-item-inner .features ul li{
    line-height: 40px;
    color: var(--dark-500);
}
.pricing-section .pricing-item .pricing-item-inner .pricing-btn{
    margin-top: 20px;
}
/* pricing section end */

/* reviews section start */
.reviews-section{
    padding: 80px 0;
}
.reviews-section .review-item{
    max-width: 800px;
    margin: auto;
    width: 100%;
    text-align: center;
}
.reviews-section .review-item .review-item-inner{
    padding: 20px;
}
.reviews-section .review-item .review-item-inner .review-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
}
.reviews-section .review-item .review-item-inner .review-text p{
    color: var(--dark-500);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.reviews-section .review-item .review-item-inner .review-author{
    margin-top: 20px;
}
.reviews-section .review-item .review-item-inner .review-author h4{
    color: var(--black-500);
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}
.reviews-section .review-item .review-item-inner .review-author h4{
    color: var(--dark-500);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.reviews-section .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}
.reviews-section .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 0;
    background-color: cadetblue;
}
.reviews-section .owl-nav .owl-next{
    position: absolute;
    right: 0;
    top: 0;
}
.reviews-section .owl-nav .owl-prev span,
.reviews-section .owl-nav .owl-next span{
    font-size: 60px;
    color: var(--green-500);
}
.reviews-section .owl-dots{
    text-align: center;
}
.reviews-section .owl-dots .owl-dot{
    background-color: var(--black-200);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px 0;
}
.reviews-section .owl-dots .owl-dot.active{
    background-color: var(--green-500);
}
/* reviews section end */

/* news section start */
.news-section{
    padding: 80px 0;
}
.news-section .news-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
}
.news-section .news-item .news-item-inner .news-text{
    padding: 0 20px;
}
.news-section .news-item .news-item-inner .news-text .title{
    margin-top: 20px;
    color: var(--black-500);
    font-size: 20px;
    font-weight: 500;
}
.news-section .news-item .news-item-inner .news-text .text{
    color: var(--dark-500);
    font-size: 16px;
    margin-top: 10px;
    line-height: 28px;
}
.news-section .news-item .news-item-inner .news-text .more{
    color: var(--green-500);
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
}
/* news section end */

/* copyright section start */
.copyright-section{
    background-color: var(--black-300);
    padding: 20px 0;
}
.copyright-section .text p{
    color: var(--white-400);
    font-size: 14px;
    font-weight: 300;
}
.copyright-section .social-link a{
    color: var(--white-400);
    margin: 0 5px;
    transition: all 0.3s ease;
}
.copyright-section .social-link a:hover{
    color: var(--green-500);
}
/* copyright section end */